html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgb(239, 239, 239);
	background-image: url(./images/glitch.jpg);
}

.container {
	position: relative;
	display: flex;
	height: 80vh;
	border-radius: 15px;
	box-shadow: 0px 13px 23px 0px rgba(0, 0, 0, 0.68);
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: 80vh;
	background-color: rgb(255, 255, 255);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(223, 223, 255, 0.25) 0%,
		rgba(41, 123, 210, 0.25) 100%
	);
}

.user-form {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	width: 350px;
}

.form-row {
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}

.form-row input[type='email'] {
	/* background: rgba(255, 255, 255, 0.389); */
	background-color: rgba(255, 255, 255, 0.169);
	color: white;
	border: none;
	border-radius: 3px;
	width: 100%;
	height: 25px;
	padding: 7px;
	font-size: 16px;
	outline: none;
}

.form-row input[type='password']:invalid {
	border-style: solid;
	border-width: 2px;
	outline: red;
	border: none;
	border-bottom: 2px solid red;
	/* background-color: red; */
	content: 'error';
}

.form-row input[type='password']:valid {
	border-style: solid;
	border-width: 2px;
	outline: rgb(13, 255, 0);
	border: none;
	border-bottom: 2px solid green;
	/* background-color: red; */
	content: 'error';
}

.form-row input[type='password'] {
	background-color: rgba(255, 255, 255, 0.169);
	color: white;
	border: none;
	border-radius: 3px;
	width: 100%;
	height: 25px;
	padding: 7px;
	font-size: 16px;
	outline: none;
}

.form-row input[type='text'] {
	background-color: rgba(255, 255, 255, 0.169);
	color: white;
	border: none;
	border-radius: 3px;
	width: 100%;
	height: 25px;
	padding: 7px;
	font-size: 16px;
	outline: none;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(179, 179, 179);
	opacity: 1; /* Firefox */
}

:focus::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(255, 255, 255);
	opacity: 1; /* Firefox */
}

.form-row input:focus {
	background-color: rgba(255, 255, 255, 0.449);
	color: white;
	outline: none;
	border-color: rgb(136, 136, 255);
	box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.51);
}

.form-row label {
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
}

h1 {
	padding: 15px 15px;
	margin-top: 25px;
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: white;
}

a {
	color: rgb(131, 131, 255);
}

.gif {
	position: relative;
	height: 80vh;
	width: auto;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.png {
	position: absolute;
	width: 200px;
	left: 135px;
	top: 230px;
}

.welcome {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	text-align: center;
}

.welcome p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: white;
}

/* button {
	align-self: flex-start;
	border: none;
	padding: 10px 45px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 5px;
	background-color: rgb(64, 144, 64);
	color: white;
	margin-top: 0px;
    transition: 0.5s;
	background-size: 200% auto;
}

button:hover {
	background-color: rgb(75, 167, 75);
	cursor: pointer;
} */

button {
	background-image: linear-gradient(
		to right,
		rgb(64, 144, 64) 0%,
		rgb(59, 129, 59) 51%,
		rgb(93, 212, 93) 100%
	);
	align-self: flex-start;
	border: none;
	padding: 10px 45px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 5px;
	background-color: rgb(64, 144, 64);
	color: white;
	margin-top: 0px;
	transition: 0.5s;
	background-size: 200% auto;
}

button:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	color: rgb(251, 251, 251);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.56);
}

#error {
	color: red;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
}
